[Unit]
Description=GMT Server
After=network.target

[Service]
ExecStart=/gmt/bin/gmt-server
WorkingDirectory=/gmt
User=ec2-user
Group=ec2-user
Restart=always

[Install]
WantedBy=multi-user.target